.formulario {
    width: 320px;
    margin: 40px auto;
    padding: 20px;

    background: linear-gradient(180deg, #151515, #0d0d0d);
    border-radius: 14px;
    border: 1px solid #2a2a2a;

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
}

.formulario h2 {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;

    /* CAMBIO */
    color: #ff4d4d;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 0 0 6px rgba(255, 77, 77, 0.35);
}

.formulario input {
    padding: 10px;
    font-size: 1rem;

    background-color: #111;
    color: #f0f0f0;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;
}

.formulario input::placeholder {
    color: #777;
}

.formulario input:focus {
    border-color: #ff5252;
    box-shadow: 0 0 0 1px rgba(255, 82, 82, 0.4);
}

.formulario button {
    padding: 10px;
    font-size: 1rem;

    background: linear-gradient(135deg, #8b0000, #c62828);
    color: white;
    border: 1px solid #ff5252;
    border-radius: 16px;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    display: flex;
    margin-left: 25%;
    justify-content: center;
}

.formulario button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 16px rgba(198, 40, 40, 0.7);
}

.formulario button:active {
    transform: translateY(1px);
    box-shadow: 0 0 6px rgba(198, 40, 40, 0.9);
}

/* =========================
   FORMULARIO TAREA
========================= */

.formulario textarea {
    padding: 10px;
    font-size: 1rem;

    background-color: #111;
    color: #f0f0f0;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;

    resize: none;
    min-height: 80px;
}

.formulario textarea::placeholder {
    color: #777;
}


