.item_seleccionado {
    font-family: monospace;
    font-size: 1rem;

    border: 2px solid #ccc;
    border-radius: 2rem;

    margin-left: 1rem;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 1.5rem;
}