.formulario {
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
 
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
}
 
.formulario h2 {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #333;
}
 
.formulario input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
 
.formulario input:focus {
    border-color: #007bff;
}
 
.formulario button {
    padding: 10px;
    font-size: 1rem;
    background: linear-gradient(135deg, #F56C6C, #CC0C0C);
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    display: flex;
    margin-left: 25%;

}
 
.formulario button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(99, 102, 241, 0.4);
}
 
.formulario button:active {
    transform: translateY(2px);  /* Empuja el botón hacia abajo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* Sombra más sutil */
}