.contactos{
    width: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contactos h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem
}